modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]
run = "node"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "node"]
deploymentTarget = "cloudrun"
ignorePorts = false

[workflows]
runButton = "Run server"

[[workflows.workflow]]
name = "Run server"
author = 23257371
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node script.js"
