:root {
  --alice: #DBE9EE;
  --columbia: #C0D6DF;
  --blue: #4A6FA5;
  --lapis: #166088;
  --gray: #4F6D7A;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--alice);
}

#navbar {
  display: flex;
  justify-content: space-between; 
  padding: 25px;
  background-color: var(--columbia);
}

  #navbar > a {
    all: unset;
    color: var(--lapis);
    text-decoration: underline;
    cursor: pointer;
  }

h1 {
  text-align: center;
  padding: 12.5px;
  color: var(--blue);
}