---
// Route Protection (Server)
import { protectRoute } from "../lib/auth.ts";
const result = await protectRoute(Astro);

if (result.redirect) {
	return Astro.redirect(result.redirect);
}

// Server-Client 
import Layout from "../layouts/Layout.astro";
---
<Layout title="Landing Page" description="Showcase of Scholarly and what it can do">
	<h1>Welcome to Scholarly!</h1>
</Layout>
<style>
	table {
		border-collapse: collapse;
		width: 100%;
	}

	th,
	td {
		border: 1px solid #ddd;
		padding: 8px;
	}

	#courseName-wrapper {
		display: flex;
		gap: 15px;
	}

		#courseControls {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
		}

	.courseControl {
		all: unset;
		line-height: 0px;
		cursor: pointer;
	}

	th {
		background-color: #f2f2f2;
		text-align: left;
	}
</style>
