---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
	return redirect("/dashboard");
}
---

<Layout title="Sign in" description="With a valid and made account, users can sign into Scholarly">
	<div id="form-wrapper">
		<div id="form-container">
			<h1>Sign into Scholarly</h1>
			<p>New Here? <a href="/register">Create an account!</a></p>
			<form action="/api/auth/signin" method="post" id="form">
				<div class=input>
					<label for="email">Email</label>
					<input type="email" name="email" id="email" />				
				</div>
		
				<div class=input>
					<label for="password">Password</label>
					<input type="password" name="password" id="password" />
				</div>
		
				<button type="submit">Login!</button>
			</form>
		</div>
	</div>
</Layout>

<style>
	body {
		background-color: #000;
		color: #FFF;
	}

	#form-wrapper {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#form-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: fit-content;
		min-height: fit-content;
		background-color: #0a0a0a;
		padding: 0 25px;
	}

	#form {
		display: flex;
		flex-direction: column;
		padding: 25px 0;
		gap: 25px;
		height: fit-content;
	}

	.input {
		display: flex;
		flex-direction: column;		
	}
</style>