---
import Image from 'astro/components/Image.astro';
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request)
console.log(session);
---

<nav>
	<a href="/">
		<h1>Scholarly</h1>
	</a>
	<a href="/schedule">Schedule</a>
	<a href="/credits">Credits</a>
	<button id="login">Login</button>
	<button id="logout">Logout</button>
	{session ? (
		<p>Welcome {session.user?.name}</p>
		<Image src={session.user?.image} alt='profile_photo' width={32} height={32} />
	  ) : (
		<p>Not logged in</p>
	  )}	
</nav>
<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 100px;
	}
</style>
<script>
    const { signIn, signOut } = await import("auth-astro/client")
	document.querySelector("#login").addEventListener("click", () => {
		signIn("github");
	})

	document.querySelector("#logout").addEventListener("click", () => {
		signOut();
	})
</script>