---
import { supabase } from "../lib/supabase";

const { data: userData, error: userError } = await supabase.auth.getUser();

let user = null;

if (userData?.user) {
    const { data: userRole, error: roleError } = await supabase
        .from("user_roles")
        .select()
        .eq("id", userData.user.id);

    if (!roleError && userRole?.length > 0) {
        user = {
            firstName: userData.user.user_metadata.first_name,
            lastName: userData.user.user_metadata.last_name,
            role: userRole[0].role,
        };
    }
}
---

<nav>
	<a href="/">
		<h1>Scholarly</h1>
	</a>
	<a href="/courses">Courses</a>
	<a href="/schedule">Schedule</a>
	<a href="/credits">Credits</a>
	<div>
		{Astro.cookies.has("sb-access-token") ? (
			<>
				<p>{user.firstName} {user.lastName}</p>
				<p>{user.role}</p>
				<form action="/api/auth/logout">
					<button type="submit">Sign out</button>
				</form>
			</>
		) : (
			<form action="/api/auth/login">
				<button type="submit">Login</button>
			</form>
		)}
	</div>
</nav>
<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 75px;
		background-color: #000;
		color: #FFF;
	}

	nav a {
		color: #FFF;
		text-decoration: none;
	}
</style>