---
import { supabase } from "../lib/supabase";

const { data, error } = await supabase.auth.getUser();

if (error) {
	return new Response("User authentication failed", { status: 401 });
}

const user = data.user;
const metadata = user.user_metadata;
---

<nav>
	<a href="/">
		<h1>Scholarly</h1>
	</a>
	<a href="/courses">Courses</a>
	<a href="/schedule">Schedule</a>
	<a href="/credits">Credits</a>
	<div>
		<p>{metadata.first_name} {metadata.last_name}</p>
		<p>{metadata.role}</p>
		<form action="/api/auth/logout">
			<button type="submit">Sign out</button>
		</form>
	</div>
</nav>
<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 75px;
		background-color: #000;
		color: #FFF;
	}

	nav a {
		color: #FFF;
		text-decoration: none;
	}
</style>